name: Setup chain and apply tm load test
on:
  push:
    branches: [branchA]
jobs:
  Test_case_1_with_connections-1_time-20_rate-1000_size-250_filename-logs1 :
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run test-case first
        run: ./tests/tm-load-test/bash setup-chain.sh 1 20 1000 250 logs1
      - name: Display test-case-1 logs-
        run: tests/target/logs1.cat
  Test_case_2_with_connections-1_time-15_rate-200_size-2500_filename-logs2:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name:  Run test-case second
        run: tests/tm-load-test/bash setup-chain.sh 1 15 200 2500 logs2
      - name: Display test-case-2 logs-
        run: tests/target/logs2.cat
  Test_case_3_with_connections-1_time-10_rate-10_size-310_filename-logs3:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run all up valset stress test
        run: tests/tm-load-test/bash setup-chain.sh 1 10 10 310 logs3
      - name: Display test-case-3 logs-
        run: tests/target/logs3.cat
    
    
    
    
